<!-- <div class="container-fluid bg-color text-light pt-5 pb-3">
  <div class="row">
    <div class="col-md-6">
      <p class="ml-5">
        <i class="fa fa-map-marker mr-4" aria-hidden="true"></i>21 Revolution
        Street<br>Palace France
      </p>
      <p class="ml-5">
        <i class="fa fa-phone mr-3" aria-hidden="true"></i> +155 12345
      </p><br>
      <p class="ml-5 text-primary">
        <i class="fa fa-envelope-o mr-3 text-light" aria-hidden="true"></i>support@bikes company.com
      </p>
    </div>

    <div class="col-md-6">
      <h4>About the Bikes</h4>
      <p>Lorem ipsum, dolor sit amet<br> consectetur adipisicing elit<br> cumque voluptatum place at<br> tempora consequuntur official.</p>
      <h5 ><i class="fa fa-facebook mr-4" aria-hidden="true"></i> <i class="fa fa-instagram mr-4" aria-hidden="true"></i> <i class="fa fa-twitter mr-4" aria-hidden="true"></i> <i class="fa fa-envelope" aria-hidden="true"></i></h5>
    </div>
  </div>
</div> -->

<div class="container-fluid bg-img">
  <div class="row p-0">
    <div class="col-md pt-4 pb-5 footer-map">
      <iframe class="location-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2052.509371963946!2d-0.12213761255240567!3d51.503597952473335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2sCoca-Cola+London+Eye!5e0!3m2!1sen!2sin!4v1563616652353!5m2!1sen!2sin">     
    </iframe>
    </div>

    <div class="col-md">
      <div class="footerupper-text mt-5 mb-4 ">Get in touch</div>
      <div class="row">
        <div class="col-md p-3">
          <p class="text-uppercase footerheading-text">Location</p>
          <p class="footercontaint-text">
            887 Myrtle Dr.<br />
            Bronx, NY 16544
          </p>
        </div>
        <div class="col-md p-3">
          <p class="text-uppercase footerheading-text">Contact us</p>
          <p class="footercontaint-text">Phone : + 1 800 755 60 20</p>
          <p class="footercontaint-text">Email :<br /><u> contacts@Superbikescompany.com</u></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md p-3">
          <p class="text-uppercase footerheading-text pt-5">Our Hours</p>
          <p class="footercontaint-text">MON-FRI 09:00 – 19:00</p>
          <p class="footercontaint-text">SAT-SUN 10:00 – 14:00</p>
        </div>
        <div class="col-md p-3">
          <p class="text-uppercase footerheading-text pt-5">Follow Us</p>
          <i class="fa fa-facebook footer-icon btn p-2 mr-2" aria-hidden="true"></i>
          <i class="fa fa-twitter btn footer-icon p-2 mr-2" aria-hidden="true"></i>
          <i class="fa fa-instagram btn footer-icon mr-2 p-2 " aria-hidden="true"></i>
          <i class="fa fa-google-plus btn footer-icon p-2 mr-2" aria-hidden="true"></i>
          <i class="fa fa-youtube btn footer-icon p-2 mr-2" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid footer-background">
  <div class="text-center">
    <footer class="footerlower-text p-3">
      &copy; Superbikes 2020.
    </footer>
  </div>
</div>
