
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <h5 class="text-danger ml-5"><i class="fa fa-motorcycle mr-2" aria-hidden="true"></i>SuperBikes</h5>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  mr-5 pr-5">
          <li class="nav-item active mr-5">
            <a class="nav-link" routerLink="/userhome"><i class="fa fa-home mr-2 " aria-hidden="true"></i>Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" routerLink="/userarticles"><i class="fa fa-newspaper-o mr-2" aria-hidden="true"></i>Article</a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" routerLink="/userabout"><i class="fa fa-newspaper-o mr-2" aria-hidden="true"></i>About Us</a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link " routerLink="/usercontact"><i class="fa fa-id-card-o mr-2" aria-hidden="true"></i>Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
