<div class="container pt-5 pb-5">
    <div class=" text-center mt-3 mb-3" *ngFor="let x of postrecord">
      <div class="card my-5">
        <div class="row px-0">
          <div class="col-4 p-2">
          <img src="{{ imagepath }}{{ x.img_name }}" class="w-75 img">
        </div>
        <div class="col-8 border-left bg-light">
        <div class="card-body bg-light">
          <h5 class="card-title mt-3">
            <p>{{ x.cat_name }}</p>
          </h5>
          <p class="card-text h3">{{ x.title }}</p>
          <p class="card-text">{{ x.meta_desc }}</p>
          <a
            class="btn btn-md btn-primary"
            [routerLink]="['/detailsarticles',x.title]"
            >{{ x.title }}</a
          >
        </div>
      </div>
      </div>
      </div>
    </div>  
</div>