<div class="container py-3">
  <h1 class="text-center my-3">About</h1>
  <div class="row px-0 my-3">
    <div class="col-md-6 p-3">
      <div class="card h-100">
        <div class="card-header h2 text-primary p-3">The site</div>
        <div class="card-text h5 p-3">
          This site was designed in order to give a brief information about the
          ultimate superbikes currently present in the market.
        </div>
      </div>
    </div>
    <div class="col-md-6 p-3">
      <div class="card h-100">
        <div class="card-header h2 text-primary p-3">The Developer</div>
        <div class="card-text h5 p-3">
          Hello its Darshan Jina, I am a BSc.IT graduate and looking forward for
          a career in web developement. I've designed this site using MEAN Stack
          web developement.
        </div>
      </div>
    </div>
  </div>
  <div class="card text-center my-3">
    <div class="card-header h2 text-primary">Find us at:</div>
    <div class="card-text p-3 h3">
      <i class="fa fa-facebook-square mr-3 p-2" aria-hidden="true"></i>
      <i class="fa fa-instagram mr-3 p-2" aria-hidden="true"></i>
      <i class="fa fa-whatsapp mr-3 p-2" aria-hidden="true"></i>
      <i class="fa fa-twitter-square mr-3 p-2" aria-hidden="true"></i>
      <i class="fa fa-envelope mr-3 p-2" aria-hidden="true"></i>
      <i class="fa fa-snapchat" aria-hidden="true"></i>
    </div>
  </div>
</div>
